<h1>Pages#about_us</h1>
<p>Find me in app/views/pages/about_us.html.erb</p>

 <%= link_to 'About-Us', about_us_path, target:"_blank", data: { name: "about_us", resources: "pages" }%>

 <%= link_to 'Contact-Us' , contact_us_path%>

 <%= link_to 'privacy', privacy_policy_path%>

 <%= link_to 'terms_and_conditions' , terms_conditions_path, target:'_blank'%>


